.box {
    font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
    color: #fff;
    padding: 50px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #374954;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  
  .box h1 {
    font-size: 100px;
  }
  
  .box .container {
    margin: 10% auto;
  }
  
  .box button {
    display: inline;
    background-color: #6bbe92;
    border: 0;
    border-radius: 10px;
    box-shadow: 5px;
    margin: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
  }
  
  .heading {
    font-size: 50px;
    font-weight: bold;

  }
  
  .mapping {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    min-width: 400px;
    background-color: #dfe6e9;
    text-align: center;
  }
  
  .mapping .heading {
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 20px 0 30px;
  }
  
  .mapping .card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #81ecec;
    margin: 50px 0;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
  }
  
  .mapping .top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #00cec9;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .mapping .name {
    font-size: 2em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
  }
  
  .mapping .card img {
    margin: 30px 20px 0 0;
  }
  
  .mapping .circle-img {
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
  }
  
  .mapping .bottom {
    margin-top: 120px;
  }
  
  .mapping .info {
    margin: 20px 0;
    color: #1a7e76;
  }
  

  .emojis {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.666;
    background: #c0d2d4;
    color: #555;
  }
  
  .emojis h1 {
    font-weight: 900;
    font-size: 500%;
    text-align: center;
    margin-top: 4rem;
    color: #fff;
    line-height: 1.2;
  }
  
  .emojis h1 span {
    padding: 5px 15px;
    background: #2ec2b0;
  }
  
  .emojis .dictionary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem auto;
    max-width: 90%;
  }
  
  .emojis .dictionary > .term {
    text-align: center;
    max-width: 20rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 100ms ease-in-out;
  }
  
  .emojis .dictionary > .term > dt {
    margin-bottom: 1rem;
  }
  
  .emojis dt {
    color: #2ec2b0;
    line-height: 1;
  }
  
  .emojis dt span {
    font-size: 200%;
    font-weight: 900;
  }
  
  .emojis .emoji {
    margin: 0 auto 20px;
    display: block;
    font-size: 400%;
  }
  
  .emojis dd {
    font-size: 92.5%;
    margin-left: 0;
  }
  
  .emojis dd dt {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: inherit;
  }
  
  .emojis dd dl {
    font-size: 90%;
    margin: 1rem auto 0 auto;
    letter-spacing: 0.33px;
    max-width: 15rem;
  }
  
  .emojis dd dl .term {
    margin-bottom: 1rem;
  }
  